.row .col-12 .header-customizer-display {
  box-sizing: border-box;
}
.row .col-12 div span.dashicons {
  cursor: pointer;
  position: relative;
}

.row .col-12 div span.dashicons .setting-panel {
  cursor: default;
  position: absolute;
  background-color: #ffffff;
  right: 0;
  z-index: 1;
  box-shadow: 0 0 10px #666;
  top: 30px;
  display: none;
}
