.row .col-12 .header-customizer-display {
  box-sizing: border-box;
}
.row .col-12 div span.dashicons {
  cursor: pointer;
  position: relative;
}

.row .col-12 div span.dashicons .setting-panel {
  cursor: default;
  position: absolute;
  background-color: green;
  right: 0;
  width: 270px;
  bottom: 20px;
  display: none;
}
